<div class="main-content">
  <div class="top-left">
    <div class="profile-image">
    </div>
  </div>
  <div class="top-right">
    <h1><%= @user.artist_name %></h1>
    <h2><%= @user.genre %></h2>
    <p><%= @user.bio %></p>
  </div>
  <hr>
  <h1>Available Experiences</h1>
  <% @user.experiences.each do |e| %>
  <div class="result">
    <h2><%= e.title %></h2><h4> - (<%= e.amount_available %>)</h4>
    <h4 class="h4-mobile">(amount left)</h4>
    <div class="result-thumb">
    </div>
    <h3><%= e.user_id %></h3>
    <p><%= e.description %></p>
    <%= button_to "Check it Out!", experience_path(e), :method => :get %>
  </div>
  <% end %>
</div>