<div class="jumbotron">
  <div class="jumbotron-text">
    <h1>Start Now</h1>
    <p>Experience and interact with your favorite bands and artists like never before.  Search for your favorite artists below.</p>
        <%= form_tag ({controller: "results", action: "index"}) do %>
          <%= submit_tag "Search", id: "search", class: 'search-button' %>
          <%= text_field_tag :title, nil, placeholder: "Experience or Artist Name...", class: 'search-field' %>
        <% end %>
  </div>
</div>
<div class="featured-experiences">
  <h1>Featured Experiences</h1>
  <div class="single-experience">
    <div class="hp-preview-pic">
      <%= link_to image_tag("ytg.jpg", :width => 340, :height => 255, class: "hp-preview-pic"), "http://fanteract.herokuapp.com/experiences/2?" %>
    </div>
    <h3><%= link_to("Skype Call", "http://fanteract.herokuapp.com/experiences/2?") %></h3>
    <h2><%= link_to("Young the Giant", "http://fanteract.herokuapp.com/experiences/2?") %></h2>
  </div>
  <div class="single-experience">
    <div class="hp-preview-pic">
      <%= link_to image_tag("grouplove-01.jpg", :width => 340, :height => 255, class: "hp-preview-pic"), "http://fanteract.herokuapp.com/experiences/3?" %>
    </div>
    <h3><%= link_to("Meet Grouplove", "http://fanteract.herokuapp.com/experiences/3?") %></h3>
    <h2><%= link_to("Grouplove", "http://fanteract.herokuapp.com/experiences/3?") %></h2>
  </div>
  <div class="single-experience">
    <div class="hp-preview-pic">
      <%= link_to image_tag("kimbra.jpg", :width => 340, :height => 255, class: "hp-preview-pic"), "http://fanteract.herokuapp.com/experiences/5?" %>
    </div>
    <h3><%= link_to("Birthday Phone Call", "http://fanteract.herokuapp.com/experiences/5?") %></h3>
    <h2><%= link_to("Kimbra", "http://fanteract.herokuapp.com/experiences/5?") %></h2>
  </div>
</div>