<div class="main-content">
  <h1>Results</h1>

  <% if @results %>
    <% @results.each do |r| %>
      <div class="result">
        <h2><%= r.title %></h2><h4> - ( <%= r.amount_available %> more left )</h4>
        <h4 class="h4-mobile">( <%= r.amount_available %> more left )</h4>
        <div class="result-thumb">
        </div>
        <h3><%= r.user.artist_name if r.user %></h3>
        <p><%= r.description %></p>
        <%= button_to "Check it Out!", experience_path(r), :method => :get  %>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">

  $(function(){
    $(".result p").each(function(i){
      len=$(this).text().length;
      if(len>210)
      {
        $(this).text($(this).text().substr(0,210)+'...');
      }
    });
  });

</script>