<div class="main-content">
  <h1>Dashboard</h1>
  <h2 class="edit-settings-mobile"><%= link_to "Edit Profile Settings", edit_user_path(current_user) %></h2><br>
  <h2 class="edit-settings-mobile"><%= link_to "Add New Experience", new_experience_path(current_user) %></h2>
  <h2 class="edit-settings"><%= link_to "Edit Profile Settings", edit_user_path(current_user) %></h2><br>
  <h2 class="edit-settings"><%= link_to "Add New Experience", new_experience_path(current_user) %></h2>
  <h2 id="orders"><u>Click to see current orders</u></h2>
  <% if current_user %>
  <%= current_user.artist_name %>
  <% end %>
  <div class="order-toggle hide">
    <h2 id="exp-head">Experience, Fan Name</h2>
    <div class="order-desc">
      <p>The Experience Title Will Go Here, User Name</p>
    </div>
  </div>
  <hr id="dash">
  <h2>Listed Experiences</h2>
  <% @experience.each do |e| %>
    <div class="listed-exp">
      <h2><%= e.title %></h2>
      <p>( amount left )</p>
      <div class="exp-buttons">
        <%= button_to "View", experience_path(e.id), :method => :get, class: "exp-btn" %> 
        <%= button_to "Edit", edit_experience_path(e.id), :method => :get, class: "exp-btn" %>
        <%= button_to "Delete", experience_path(e.id), :method => :delete, class: "exp-btn" %>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">

  var main = function() {
    $("#orders").click(function() {
      $('.order-toggle').toggleClass("show");
      console.log('it works');
    });
  };

  $(document).ready(main);
</script> 