<div class="main-content">
  <h1><%= current_user.artist_name %>'s Dashboard</h1>
  <h2 class="edit-settings-mobile"><%= link_to "Edit Profile Settings", edit_user_path(current_user) %></h2><br>
  <h2 class="edit-settings-mobile"><%= link_to "Add New Experience", new_experience_path(current_user) %></h2>
  <h2 class="edit-settings"><%= link_to "Edit Profile Settings", edit_user_path(current_user) %></h2><br>
  <h2 class="edit-settings"><%= link_to "Add New Experience", new_experience_path(current_user) %></h2>
  <hr id="dash">
  <h2>Listed Experiences</h2>
  <% @experience.each do |e| %>
    <div class="listed-exp">
      <h2><%= e.title %></h2>
      <div class="exp-buttons">
        <%= button_to "View", experience_path(e.id), :method => :get, class: "exp-btn" %> 
        <%= button_to "Edit", edit_experience_path(e.id), :method => :get, class: "exp-btn" %>
        <%= button_to "Delete", experience_path(e.id), :method => :delete, class: "exp-btn" %>
      </div>
    </div>
  <% end %>
</div>