<div class="main-content">
  <h1>Create an Experience</h1>
  <%= form_for @experience, :html => { :class => "exp-create"} do |f| %>
    <%= f.text_field :title, placeholder: "Experience Title..." %><br>
    <%= f.text_field :price, placeholder: "Price..." %><br>
    <%= f.text_field :amount_available, placeholder: "Amount Available..." %><br>
    <%= f.text_field :availability, placeholder: "Availability..." %><br>
    <%= f.text_area :description, placeholder: "Enter Description..." %><br>
    <%= f.submit "Create Experience", class: "exp-submit" %>
  <% end %>
</div>